<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <base href="/" />
    <title>Расходы/Доходы</title>
    <!--<base href="/PIR/" />-->
    <!--<script src="config.js"></script>-->
    <link rel="shortcut icon" href="favicon.ico">
</head>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>